<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="conexion" value="data source=.;initial catalog=UNIPOLDB;user id=sa;password=Dosmil14"/>
  </appSettings>
</configuration>
